{% extends "pages/headers.html" %}
{% block content%} 

  <!-- Start your project here--> 
  {% load static %}
<div class="container mt-5"> 

    <!--Section: Content--> 
    <section class="dark-grey-text text-center"> 
   
      <style> 
        .md-pills .nav-link.active { 
          background-color: #3f51b5; 
        } 
      </style> 
       
      <!-- Section heading --> 
      <h3 class="font-weight-bold mb-4 pb-2">My recent projects</h3> 
      <!-- Section description --> 
       
        <!--First row--> 
        <div class="row"> 
           
          <!--First column--> 
          <div class="col-12"> 
             
          <!--First column--> 
   
      </div> 
      <!--First row--> 
       
      <!--Tab panels--> 
      <div class="tab-content"> 
   
        <!--Panel 1--> 
        <div class="tab-pane fade show in active" id="panel31" role="tabpanel"> 
   
          <!--First row--> 
          <div class="row"> 
             
            <!-- This is where we will showcase the projects, Remember to hyperlink to the new app-->

            <!--First column--> 
            <div class="col-lg-4 col-md-12 mb-4"> 
              <!--Featured image--> 
              <div class="view overlay zoom z-depth-2"> 
                <a href="{% url 'todoapp:todo_home'%}" >
                <img src="{% static 'todo-img.jpg'%}" class="img-fluid">
              </a>
              </div> 
              <p class="text-uppercase text-center font-weight-bold text-muted my-4">To-do List</p> 
            </div> 
            <!--First column--> 
             
            <!--Second column--> 
            <div class="col-lg-4 col-md-6 mb-4"> 
              <!--Featured image--> 
              <div class="view overlay zoom z-depth-2"> 
                <img src="https://mdbootstrap.com/img/Photos/Others/project8.jpg" class="img-fluid"> 
              </div> 
              <p class="text-uppercase text-center font-weight-bold text-muted my-4">{%lorem%}</p> 
            </div> 
            <!--Second column--> 
             
            <!--Third column--> 
            <div class="col-lg-4 col-md-6 mb-4"> 
              <!--Featured image--> 
              <div class="view overlay zoom z-depth-2"> 
                <img src="https://mdbootstrap.com/img/Photos/Others/project4.jpg" class="img-fluid"> 
              </div> 
              <p class="text-uppercase text-center font-weight-bold text-muted my-4">{%lorem%}</p> 
            </div> </p> 
            </div> 
            <!--Third column--> 
             
          </div> 
          <!--First row--> 
   
        </div> 
        <!--Panel 1--> 
   
        <!--Panel 2--> 
        <div class="tab-pane fade " id="panel32" role="tabpanel"> 
   
          <!--First row--> 
          <div class="row"> 
             
            <!--First column--> 
            <div class="col-lg-4 col-md-12 mb-4"> 
              <!--Featured image--> 
              <div class="view overlay zoom z-depth-2"> 
                <img src="https://mdbootstrap.com/img/Photos/Others/project4.jpg" class="img-fluid"> 
              </div> 
              <p class="text-uppercase text-center font-weight-bold text-muted my-4">Lorem ipsum dolor sit 
                amet</p> 
            </div> 
            <!--First column--> 
             
            <!--Second column--> 
            <div class="col-lg-4 col-md-6 mb-4"> 
              <!--Featured image--> 
              <div class="view overlay zoom z-depth-2"> 
                <img src="https://mdbootstrap.com/img/Photos/Others/project5.jpg" class="img-fluid"> 
              </div> 
              <p class="text-uppercase text-center font-weight-bold text-muted my-4">Lorem ipsum dolor sit 
                amet</p> 
            </div> 
            <!--Second column--> 
             
            <!--Third column--> 
            <div class="col-lg-4 col-md-6 mb-4"> 
              <!--Featured image--> 
              <div class="view overlay zoom z-depth-2"> 
                <img src="https://mdbootstrap.com/img/Photos/Others/project1.jpg" class="img-fluid"> 
              </div> 
              <p class="text-uppercase text-center font-weight-bold text-muted my-4">Lorem ipsum dolor sit 
                amet</p> 
            </div> 
            <!--Third column--> 
             
          </div> 
          <!--First row--> 
   
        </div> 
        <!--Panel 2--> 
   
        <!--Panel 3--> 
        <div class="tab-pane fade" id="panel33" role="tabpanel"> 
   
          <!--First row--> 
          <div class="row"> 
             
            <!--First column--> 
            <div class="col-lg-4 col-md-12 mb-4"> 
              <!--Featured image--> 
              <div class="view overlay zoom z-depth-2"> 
                <img src="https://mdbootstrap.com/img/Photos/Others/project3.jpg" class="img-fluid"> 
              </div> 
              <p class="text-uppercase text-center font-weight-bold text-muted my-4">Lorem ipsum dolor sit 
                amet</p> 
            </div> 
            <!--First column--> 
             
            <!--Second column--> 
            <div class="col-lg-4 col-md-6"> 
              <!--Featured image--> 
              <div class="view overlay zoom z-depth-2"> 
                <img src="https://mdbootstrap.com/img/Photos/Others/project6.jpg" class="img-fluid"> 
              </div> 
              <p class="text-uppercase text-center font-weight-bold text-muted my-4">Lorem ipsum dolor sit 
                amet</p> 
            </div> 
            <!--Second column--> 
             
            <!--Third column--> 
            <div class="col-lg-4 col-md-6 mb-4"> 
              <!--Featured image--> 
              <div class="view overlay zoom z-depth-2"> 
                <img src="https://mdbootstrap.com/img/Photos/Others/project8.jpg" class="img-fluid"> 
              </div> 
              <p class="text-uppercase text-center font-weight-bold text-muted my-4">Lorem ipsum dolor sit 
                amet</p> 
            </div> 
            <!--Third column--> 
   
          </div> 
          <!--First row--> 
   
        </div> 
        <!--Panel 3--> 
   
        <!--Panel 4--> 
        <div class="tab-pane fade" id="panel34" role="tabpanel"> 
   
          <!--First row--> 
          <div class="row"> 
             
            <!--First column--> 
            <div class="col-lg-4 col-md-12 mb-4"> 
              <!--Featured image--> 
              <div class="view overlay zoom z-depth-2"> 
                <img src="https://mdbootstrap.com/img/Photos/Others/project1.jpg" class="img-fluid"> 
              </div> 
              <p class="text-uppercase text-center font-weight-bold text-muted my-4">Lorem ipsum dolor sit 
                amet</p> 
            </div> 
            <!--First column--> 
             
            <!--Second column--> 
            <div class="col-lg-4 col-md-6 mb-4"> 
              <!--Featured image--> 
              <div class="view overlay zoom z-depth-2"> 
                <img src="https://mdbootstrap.com/img/Photos/Others/project7.jpg" class="img-fluid"> 
              </div> 
              <p class="text-uppercase text-center font-weight-bold text-muted my-4">Lorem ipsum dolor sit 
                amet</p> 
            </div> 
            <!--Second column--> 
             
            <!--Third column--> 
            <div class="col-lg-4 col-md-6 mb-4"> 
              <!--Featured image--> 
              <div class="view overlay zoom z-depth-2"> 
                <img src="https://mdbootstrap.com/img/Photos/Others/project8.jpg" class="img-fluid"> 
              </div> 
              <p class="text-uppercase text-center font-weight-bold text-muted my-4">Lorem ipsum dolor sit 
                amet</p> 
            </div> 
            <!--Third column--> 
             
          </div> 
          <!--First row--> 
   
        </div> 
        <!--Panel 4--> 
   
      </div> 
      <!--Tab panels--> 
   
      </section> 
</div>
{% endblock %}